<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="cascade.js"></script>
	<title>Angular + PHP = Cascading Dropdown</title>
</head>

<body ng-app="app">
	<form method="POST" ng-controller="formCtrl">
		<label>Category: </label>
		<select name="category" ng-model="BrandID" ng-change="getModels()" ng-options="option.ID as option.Name for option in brands.options" >
			<option value="">Select Brand</value>
		</select><br>
		<label>Subcategory</label>
		<select name="subcategory" ng-model="ModelID" ng-options="option.ID as option.Name for option in models.options" >
			<option value="">Select Model</value>
		</select><br>
		<input type="submit" name="submit">
		
		
	</form>
</body>
</html>